#menu {
	text-align:center;
	margin:10;
	padding:20px0;
}
#menu img {
	max-width:30%;
	height:auto;			
}

#bloc1{
	background-color: white;
	color : white;
	font-size: 200%;
	display : flex;   
}	

#bloc1 a {
	color : white;
	margin: 0.5rem;               
    padding: 0.5rem 0;            
	color: #D79A10;
    text-align: center;           
	width : 60%;	
}
#image img{
	text-align: center;
	height: auto;    /* fixe la hauteur des images qui se redimensionnent toutes seules */
	margin-left: 15%;  /* marge extérieure Elle permet d'espacer les images */
	margin-right: 50px;  /* permet d'espacer les images */
	margin-top:50px;
}