#menu {
	text-align:center;
	margin:10;
	padding:20px0;
}
#menu img {
	max-width:30%;
	height:auto;			
}

#bloc1{
	background-color: white;
	color : white;
	font-size: 200%;
	display : flex;   
}	

#bloc1 a {
	color : white;
	margin: 0.5rem;               
    padding: 0.5rem 0;            
	color: #D79A10;
    text-align: center;           
	width : 60%;	
}

#coordonnées {
	text-align:center;
	width:100%;
	font-size:30px;
	color: #1c3444;
	font-family: Ink Free;
}


.images_centrees  /* concerne tout ce qui est dans le div ou l'id: image_centree est appelé */
{
	text-align: center;
}
.hauteur_image  /* comme on l'utilise pour les 3 images, il faut créer une classe et non plus un id */
{
	height: 250px;    /* fixe la hauteur des images qui se redimensionnent toutes seules */
	margin-left: auto;  /* marge extérieure Elle permet d'espacer les images */
	margin-right: 50px;  /* permet d'espacer les images */
	margin-top:50px;
}

#tableau{
	text-align:center;
	font-family: Gabriola,calibri;
	font-size: 15pt;
	}

table {
	width:62%;
	margin: auto;
	border-width:0.5px; 
	border-style:solid; 
	font-size:150%;
	font-family:Gabriola,calibri;
}
 th{
	border-width:1px;
	border-style:solid; 
	text-align: center;
	color: black;
	width: 20%;
 }
 
td { 
	height: 50px;
	border-width:1px;
	border-style:solid; 
	text-align: center;
	color: black;
	font-size: 80%;
	width: 20%;
 }
 #bloc2{
	background-color: white;
	color : white;
	font-size: 200%;
	display : flex;   
}	

#bloc2 a {
	color : white;
	margin: 0.5rem;               
    padding: 0.5rem 0;            
	color: #004851;
    text-align: center;           
	width : 60%;	
}